n8n-workflows/amigurumi-generate.json
{
  "name": "Amigurumi Generate - Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amigurumi-generate",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "n1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.referenceImageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "id": "n2",
      "name": "Download Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/files?key=AIzaSyCx4VlMwGz3UXwmStgTOxRccg_olJtXVYk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Goog-Upload-Protocol", "value": "raw" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "id": "n3",
      "name": "Upload to Gemini"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyCx4VlMwGz3UXwmStgTOxRccg_olJtXVYk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ file_data: { mime_type: 'image/png', file_uri: $('Upload to Gemini').first().json.file.uri } }, { text: 'You are an expert Etsy seller for amigurumi toys. Product name: ' + $('Webhook').first().json.body.productName + '. Analyze image, generate Etsy listing. Return JSON with keys: title (max 140 chars), description (3 paragraphs), tags (array of 13 tags).' }] }], generationConfig: { responseMimeType: 'application/json' } }) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300],
      "id": "n4",
      "name": "Gemini Content"
    },
    {
      "parameters": {
        "jsCode": "const contentResponse = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\n\nlet title = webhookData.productName || 'Amigurumi';\nlet description = '';\nlet tags = [];\n\ntry {\n  const txt = contentResponse.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (txt) {\n    const parsed = JSON.parse(txt);\n    title = parsed.title || title;\n    description = parsed.description || '';\n    tags = parsed.tags || [];\n  }\n} catch(e) {}\n\nconst PRESETS = {\n  'simple-table': { label: 'Sade Ev - Masa Ustu', prompt: 'Place the amigurumi toy on a clean wooden dining table in a simple bright minimalist home. Soft natural window light, clean white walls.' },\n  'kids-room-carpet': { label: 'Cocuk Odasi - Hali Ustu', prompt: 'Place the amigurumi toy on a soft colorful carpet in a bright childrens room. Pastel walls, toys in soft bokeh background.' },\n  'living-room-sofa': { label: 'Oturma Odasi - Kanepe', prompt: 'Place the amigurumi toy on a cozy beige sofa in a modern living room. Soft cushions, warm ambient lighting.' },\n  'bedroom-bed': { label: 'Yatak Odasi - Yatak Ustu', prompt: 'Place the amigurumi toy on a neatly made bed with white soft bedding. Cozy bedroom, soft morning light.' },\n  'window-sill': { label: 'Pencere Kenari', prompt: 'Place the amigurumi toy on a bright window sill with natural daylight. Soft blurred outdoor greenery visible.' },\n  'bookshelf': { label: 'Kitaplik Onu', prompt: 'Place the amigurumi toy in front of a cozy bookshelf with colorful books. Warm lighting, hygge atmosphere.' },\n  'kitchen-counter': { label: 'Mutfak Tezgahi', prompt: 'Place the amigurumi toy on a clean white marble kitchen counter. Bright modern kitchen, warm natural light.' },\n  'baby-room-crib': { label: 'Bebek Odasi', prompt: 'Place the amigurumi toy next to a white baby crib in a pastel nursery room. Gentle lighting, dreamy atmosphere.' },\n  'fireplace': { label: 'Somine Onu', prompt: 'Place the amigurumi toy on a cozy rug in front of a warm fireplace. Golden glow, knit blanket nearby.' },\n  'balcony-table': { label: 'Balkon - Sehpa', prompt: 'Place the amigurumi toy on a small coffee table on a cozy balcony. Green plants, soft outdoor light.' }\n};\n\nconst items = [];\nfor (const bgId of (webhookData.backgroundIds || [])) {\n  const preset = PRESETS[bgId];\n  if (!preset) continue;\n  items.push({\n    json: {\n      geminiPrompt: 'Edit this image: Remove the current background completely and replace it with: ' + preset.prompt + ' Keep the amigurumi toy EXACTLY as it is. Professional product photography.',\n      backgroundId: bgId,\n      backgroundLabel: preset.label,\n      title, description, tags,\n      productId: webhookData.productId,\n      callbackUrl: webhookData.callbackUrl,\n      secret: webhookData.secret\n    }\n  });\n}\n\nif (items.length === 0) throw new Error('No valid backgrounds');\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300],
      "id": "n5",
      "name": "Fan Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyCx4VlMwGz3UXwmStgTOxRccg_olJtXVYk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ file_data: { mime_type: 'image/png', file_uri: $('Upload to Gemini').first().json.file.uri } }, { text: $json.geminiPrompt }] }], generationConfig: { responseModalities: ['TEXT', 'IMAGE'] } }) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 300],
      "id": "n6",
      "name": "Gemini Image",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst CLOUD_SECRET = '9XsIgOi01RoxfE3PnRi0zWuZkEM';\n\nconst allResponses = $input.all();\nconst fanOutItems = $('Fan Out').all();\nconst results = [];\n\nfor (let i = 0; i < allResponses.length; i++) {\n  const response = allResponses[i].json;\n  const bgInfo = fanOutItems[i]?.json;\n  if (!bgInfo) continue;\n\n  let imageBase64 = null;\n  const parts = response.candidates?.[0]?.content?.parts || [];\n  for (const part of parts) {\n    if (part.inlineData?.data) { imageBase64 = part.inlineData.data; break; }\n  }\n  if (!imageBase64) continue;\n\n  const ts = Math.floor(Date.now() / 1000).toString();\n  const folder = 'amigurumi/gemini';\n  const sig = crypto.createHash('sha1').update('folder=' + folder + '&timestamp=' + ts + CLOUD_SECRET).digest('hex');\n\n  results.push({\n    json: {\n      imageBase64,\n      cloudTs: ts,\n      cloudSig: sig,\n      backgroundId: bgInfo.backgroundId,\n      backgroundLabel: bgInfo.backgroundLabel,\n      title: bgInfo.title,\n      description: bgInfo.description,\n      tags: bgInfo.tags,\n      productId: bgInfo.productId,\n      callbackUrl: bgInfo.callbackUrl,\n      secret: bgInfo.secret\n    }\n  });\n}\n\nif (results.length === 0) {\n  const bg = fanOutItems[0]?.json || {};\n  return [{ json: { noImages: true, productId: bg.productId, callbackUrl: bg.callbackUrl, secret: bg.secret, title: bg.title || '', description: bg.description || '', tags: bg.tags || [] } }];\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 300],
      "id": "n7",
      "name": "Prep Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/dm2jbdqxc/image/upload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ file: 'data:image/png;base64,' + $json.imageBase64, api_key: '723949127319764', timestamp: $json.cloudTs, signature: $json.cloudSig, folder: 'amigurumi/gemini' }) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300],
      "id": "n8",
      "name": "Cloudinary Upload",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const uploadResults = $input.all();\nconst prepItems = $('Prep Upload').all();\n\nconst images = [];\nlet title = '', description = '', tags = [], productId = '', callbackUrl = '', secret = '';\n\nfor (let i = 0; i < prepItems.length; i++) {\n  const prep = prepItems[i].json;\n  const upload = uploadResults[i]?.json;\n\n  if (!productId) {\n    title = prep.title || '';\n    description = prep.description || '';\n    tags = prep.tags || [];\n    productId = prep.productId;\n    callbackUrl = prep.callbackUrl;\n    secret = prep.secret;\n  }\n\n  if (upload?.secure_url) {\n    images.push({ url: upload.secure_url, backgroundId: prep.backgroundId, backgroundLabel: prep.backgroundLabel });\n  }\n}\n\nif (!callbackUrl) {\n  const first = prepItems[0]?.json || {};\n  callbackUrl = first.callbackUrl;\n  secret = first.secret;\n  productId = first.productId;\n}\n\nreturn [{\n  json: {\n    callbackUrl: callbackUrl,\n    callbackBody: { secret, type: 'generate-result', productId, images, title, description, tags }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "id": "n9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.callbackBody) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, 300],
      "id": "n10",
      "name": "Send Callback"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Download Image", "type": "main", "index": 0 }]] },
    "Download Image": { "main": [[{ "node": "Upload to Gemini", "type": "main", "index": 0 }]] },
    "Upload to Gemini": { "main": [[{ "node": "Gemini Content", "type": "main", "index": 0 }]] },
    "Gemini Content": { "main": [[{ "node": "Fan Out", "type": "main", "index": 0 }]] },
    "Fan Out": { "main": [[{ "node": "Gemini Image", "type": "main", "index": 0 }]] },
    "Gemini Image": { "main": [[{ "node": "Prep Upload", "type": "main", "index": 0 }]] },
    "Prep Upload": { "main": [[{ "node": "Cloudinary Upload", "type": "main", "index": 0 }]] },
    "Cloudinary Upload": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "Send Callback", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
